{:path ["src"]
 :deps {org.clojure/clojure     {:mvn/version "1.10.3"},
        metosin/reitit          {:mvn/version "0.5.5"},
        ring/ring-jetty-adapter {:mvn/version "1.9.4"},}}

;; {:path [:clj-paths :resource-paths]
;;  :aliases;;  {:clj-paths ["src/clj" "src/cljc"]
;;   :resource-paths ["resources"]}}
 ;; {:deps
 ;; {clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}}}
